# Problem 3
Solve the given LP using PuLP

In [1]:
!pip install pulp

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pulp
  Downloading PuLP-2.6.0-py3-none-any.whl (14.2 MB)
     |████████████████████████████████| 14.2 MB 4.7 MB/s
Installing collected packages: pulp
Successfully installed pulp-2.6.0

In [2]:
from pulp import *

# Initialize LP model
model = LpProblem("problem3", LpMaximize)

# Initialize optimization variables
x1 = LpVariable("x", 0, None, LpInteger)
x2 = LpVariable("y", 0, None, LpInteger) 

# Create maximize objective function
model += 4 * x1 + 3 * x2

# Declare constraints
model += x1 + 2*x2 <= 14, "c1"
model += 3*x1 - x2 >= 0, "c2"
model += x1 - x2 <= 2, "c3"

model.solve()

# Each of the variables is printed with it's resolved optimum value
for v in model.variables():
    print(v.name, "=", v.varValue)

x = 6.0
y = 4.0

# Problem 5
Load and analyze a graph using NetworkX

In [3]:
!pip install networkx

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: networkx in /usr/local/lib/python3.7/dist-packages (2.6.3)

In [15]:
import networkx as nx
import matplotlib.pyplot as plt

data = open('lastfm_asia_edges.csv', "r")

g = nx.parse_edgelist(data, delimiter=',', create_using=nx.Graph(),
                      nodetype=int, data=((int, int),))

print(nx.info(g))

Graph with 7624 nodes and 27806 edges

Note that for the above to work properly, students must handle the first row properly (ie. either skip over or remove the column headers so NetworkX can read the edge list).

In [19]:
p = nx.shortest_path_length(g,source=0)
print(p)

{0: 0, 747: 1, 4704: 2, 3683: 2, 5892: 2, 2020: 2, 5610: 2, 3855: 2, 6363: 2, 1025: 3, 3075: 3, 6148: 3, 2056: 3, 521: 3, 7182: 3, 1040: 3, 4629: 3, 7193: 3, 538: 3, 7194: 3, 6172: 3, 4126: 3, 7199: 3, 5662: 3, 5676: 3, 4146: 3, 6709: 3, 6202: 3, 1598: 3, 6207: 3, 3136: 3, 3134: 3, 3655: 3, 2120: 3, 1610: 3, 75: 3, 6222: 3, 3158: 3, 5206: 3, 7256: 3, 95: 3, 97: 3, 2659: 3, 1635: 3, 1133: 3, 2158: 3, 4720: 3, 5745: 3, 6770: 3, 5236: 3, 636: 3, 3204: 3, 3210: 3, 2191: 3, 4243: 3, 2195: 3, 4755: 3, 5277: 3, 1693: 3, 5790: 3, 3234: 3, 6312: 3, 3757: 3, 2738: 3, 7352: 3, 6329: 3, 1721: 3, 5314: 3, 5324: 3, 7374: 3, 1746: 3, 5330: 3, 2260: 3, 734: 3, 3296: 3, 4330: 3, 6378: 3, 3822: 3, 750: 3, 5876: 3, 760: 3, 3833: 3, 2299: 3, 1789: 3, 1792: 3, 257: 3, 5378: 3, 4865: 3, 3845: 3, 2832: 3, 6419: 3, 5909: 3, 4887: 3, 1305: 3, 6427: 3, 5921: 3, 7469: 3, 2863: 3, 306: 3, 312: 3, 6463: 3, 5439: 3, 7489: 3, 4934: 3, 3430: 3, 7015: 3, 3437: 3, 3440: 3, 375: 3, 2424: 3, 1919: 3, 7552: 3, 925: 3, 6047: 3, 1960: 3, 5036: 3, 6575: 3, 945: 3, 6065: 3, 434: 3, 1462: 3, 4024: 3, 5564: 3, 1471: 3, 7109: 3, 5577: 3, 461: 3, 3031: 3, 4568: 3, 3036: 3, 2036: 3, 2549: 3, 2550: 3, 7162: 3, 6: 4, 6154: 4, 2061: 4, 6159: 4, 20: 4, 30: 4, 32: 4, 40: 4, 6187: 4, 4141: 4, 47: 4, 2096: 4, 6196: 4, 59: 4, 6208: 4, 4165: 4, 2122: 4, 2128: 4, 6231: 4, 4187: 4, 6241: 4, 4193: 4, 6249: 4, 2157: 4, 4208: 4, 116: 4, 4217: 4, 6266: 4, 130: 4, 6275: 4, 6282: 4, 4237: 4, 4239: 4, 2193: 4, 4244: 4, 6296: 4, 2201: 4, 6299: 4, 6300: 4, 6305: 4, 167: 4, 174: 4, 4274: 4, 179: 4, 187: 4, 6337: 4, 2243: 4, 2248: 4, 6347: 4, 6352: 4, 4309: 4, 6357: 4, 2265: 4, 219: 4, 4320: 4, 6369: 4, 2278: 4, 4328: 4, 4329: 4, 259: 4, 4356: 4, 4359: 4, 6408: 4, 6411: 4, 267: 4, 6412: 4, 2319: 4, 280: 4, 287: 4, 4384: 4, 6432: 4, 290: 4, 2347: 4, 307: 4, 4404: 4, 6458: 4, 2366: 4, 2369: 4, 6472: 4, 2385: 4, 2386: 4, 2387: 4, 2389: 4, 4438: 4, 2390: 4, 347: 4, 2399: 4, 2401: 4, 4451: 4, 2406: 4, 4455: 4, 6502: 4, 362: 4, 2414: 4, 2422: 4, 2428: 4, 6529: 4, 393: 4, 397: 4, 2447: 4, 406: 4, 6553: 4, 4509: 4, 413: 4, 4511: 4, 418: 4, 421: 4, 6566: 4, 2473: 4, 4522: 4, 429: 4, 6574: 4, 4530: 4, 6593: 4, 4549: 4, 2504: 4, 2510: 4, 471: 4, 4572: 4, 2529: 4, 4577: 4, 6637: 4, 2545: 4, 6642: 4, 501: 4, 6648: 4, 2559: 4, 514: 4, 6661: 4, 520: 4, 524: 4, 2576: 4, 2582: 4, 4636: 4, 541: 4, 6687: 4, 4653: 4, 2606: 4, 4657: 4, 4660: 4, 570: 4, 572: 4, 6717: 4, 573: 4, 6721: 4, 4673: 4, 4676: 4, 2629: 4, 582: 4, 583: 4, 6726: 4, 6733: 4, 589: 4, 591: 4, 594: 4, 4692: 4, 601: 4, 4701: 4, 607: 4, 6755: 4, 6758: 4, 4711: 4, 6759: 4, 627: 4, 6772: 4, 640: 4, 4738: 4, 652: 4, 654: 4, 2707: 4, 661: 4, 6808: 4, 665: 4, 2713: 4, 6819: 4, 6824: 4, 682: 4, 685: 4, 688: 4, 4785: 4, 4790: 4, 6845: 4, 2751: 4, 4801: 4, 6852: 4, 4810: 4, 721: 4, 727: 4, 4827: 4, 6876: 4, 738: 4, 4842: 4, 6891: 4, 4845: 4, 2800: 4, 2805: 4, 6903: 4, 4856: 4, 6907: 4, 766: 4, 776: 4, 2831: 4, 2836: 4, 4898: 4, 4900: 4, 2854: 4, 4908: 4, 6964: 4, 6967: 4, 6969: 4, 828: 4, 2877: 4, 6991: 4, 2896: 4, 2897: 4, 2903: 4, 7001: 4, 2906: 4, 7002: 4, 863: 4, 2915: 4, 4966: 4, 7016: 4, 875: 4, 876: 4, 7020: 4, 7027: 4, 2932: 4, 7028: 4, 2938: 4, 891: 4, 7040: 4, 898: 4, 900: 4, 7046: 4, 5001: 4, 7050: 4, 2961: 4, 5012: 4, 5014: 4, 2972: 4, 930: 4, 932: 4, 933: 4, 5029: 4, 7079: 4, 2985: 4, 2991: 4, 2996: 4, 5047: 4, 3000: 4, 5053: 4, 3006: 4, 5060: 4, 968: 4, 5065: 4, 7118: 4, 5074: 4, 980: 4, 985: 4, 989: 4, 5087: 4, 3040: 4, 5095: 4, 5102: 4, 1008: 4, 1011: 4, 7159: 4, 1016: 4, 1020: 4, 7165: 4, 5127: 4, 1033: 4, 3082: 4, 3083: 4, 3090: 4, 5140: 4, 3093: 4, 3097: 4, 5156: 4, 7214: 4, 3125: 4, 3126: 4, 3128: 4, 3129: 4, 3130: 4, 5182: 4, 3138: 4, 3140: 4, 1093: 4, 7237: 4, 3155: 4, 3164: 4, 5215: 4, 5224: 4, 3181: 4, 3185: 4, 3186: 4, 5240: 4, 5243: 4, 7294: 4, 5247: 4, 3212: 4, 1166: 4, 7317: 4, 1178: 4, 5274: 4, 1183: 4, 3231: 4, 7339: 4, 3247: 4, 3251: 4, 5300: 4, 1205: 4, 7350: 4, 1209: 4, 5306: 4, 3266: 4, 7369: 4, 1232: 4, 1233: 4, 7388: 4, 1250: 4, 1255: 4, 7402: 4, 7403: 4, 5356: 4, 1261: 4, 1262: 4, 3312: 4, 3317: 4, 5370: 4, 1281: 4, 5377: 4, 7425: 4, 3334: 4, 1291: 4, 3357: 4, 3359: 4, 1316: 4, 3368: 4, 1326: 4, 5425: 4, 1329: 4, 7476: 4, 1334: 4, 3382: 4, 5430: 4, 7482: 4, 5440: 4, 3396: 4, 5446: 4, 3398: 4, 3404: 4, 5454: 4, 5461: 4, 7517: 4, 3424: 4, 1376: 4, 7522: 4, 3433: 4, 3450: 4, 5498: 4, 5500: 4, 3459: 4, 3460: 4, 3462: 4, 7565: 4, 1424: 4, 5520: 4, 1431: 4, 7575: 4, 5532: 4, 7581: 4, 1445: 4, 5542: 4, 1454: 4, 3507: 4, 5556: 4, 3510: 4, 7607: 4, 1468: 4, 5566: 4, 7615: 4, 3528: 4, 3530: 4, 1483: 4, 5581: 4, 1486: 4, 5592: 4, 1506: 4, 1520: 4, 3569: 4, 3571: 4, 5629: 4, 1536: 4, 5632: 4, 5646: 4, 1553: 4, 3602: 4, 5653: 4, 3606: 4, 3612: 4, 1569: 4, 5665: 4, 3632: 4, 5682: 4, 3634: 4, 3640: 4, 1618: 4, 1620: 4, 3668: 4, 1624: 4, 5720: 4, 5725: 4, 5728: 4, 1636: 4, 1643: 4, 3697: 4, 3701: 4, 1689: 4, 3742: 4, 1698: 4, 5801: 4, 1706: 4, 5814: 4, 5815: 4, 5820: 4, 3775: 4, 5830: 4, 5832: 4, 3786: 4, 5846: 4, 5848: 4, 3805: 4, 1758: 4, 5854: 4, 3809: 4, 1769: 4, 1770: 4, 1776: 4, 5874: 4, 1795: 4, 3847: 4, 3848: 4, 3856: 4, 5925: 4, 1834: 4, 1842: 4, 5939: 4, 5942: 4, 3899: 4, 5956: 4, 5958: 4, 5964: 4, 1884: 4, 1892: 4, 3940: 4, 1894: 4, 5993: 4, 1897: 4, 5995: 4, 1902: 4, 1905: 4, 6004: 4, 1916: 4, 1921: 4, 1922: 4, 6027: 4, 1933: 4, 1937: 4, 3987: 4, 3992: 4, 1945: 4, 3994: 4, 3998: 4, 1950: 4, 6049: 4, 1954: 4, 6052: 4, 1956: 4, 4020: 4, 1972: 4, 6070: 4, 6074: 4, 4042: 4, 2003: 4, 6101: 4, 4054: 4, 2007: 4, 6108: 4, 2017: 4, 2021: 4, 6134: 4, 4087: 4, 4088: 4, 6137: 4, 2044: 4, 2: 5, 3: 5, 5: 5, 7: 5, 9: 5, 11: 5, 12: 5, 13: 5, 15: 5, 16: 5, 17: 5, 18: 5, 22: 5, 23: 5, 27: 5, 28: 5, 31: 5, 33: 5, 38: 5, 39: 5, 41: 5, 44: 5, 46: 5, 49: 5, 52: 5, 54: 5, 56: 5, 68: 5, 69: 5, 70: 5, 71: 5, 80: 5, 81: 5, 85: 5, 98: 5, 99: 5, 102: 5, 103: 5, 105: 5, 107: 5, 109: 5, 110: 5, 112: 5, 113: 5, 114: 5, 115: 5, 122: 5, 125: 5, 127: 5, 128: 5, 134: 5, 135: 5, 136: 5, 137: 5, 139: 5, 140: 5, 141: 5, 143: 5, 145: 5, 149: 5, 151: 5, 154: 5, 159: 5, 161: 5, 170: 5, 171: 5, 175: 5, 177: 5, 184: 5, 185: 5, 188: 5, 191: 5, 192: 5, 195: 5, 199: 5, 200: 5, 204: 5, 209: 5, 211: 5, 212: 5, 213: 5, 218: 5, 221: 5, 232: 5, 235: 5, 240: 5, 241: 5, 244: 5, 251: 5, 252: 5, 255: 5, 260: 5, 261: 5, 266: 5, 268: 5, 271: 5, 282: 5, 283: 5, 285: 5, 286: 5, 289: 5, 292: 5, 296: 5, 299: 5, 300: 5, 301: 5, 313: 5, 323: 5, 326: 5, 327: 5, 335: 5, 336: 5, 337: 5, 338: 5, 341: 5, 342: 5, 344: 5, 360: 5, 363: 5, 364: 5, 366: 5, 367: 5, 368: 5, 369: 5, 372: 5, 373: 5, 374: 5, 376: 5, 378: 5, 379: 5, 380: 5, 381: 5, 383: 5, 391: 5, 392: 5, 398: 5, 400: 5, 402: 5, 408: 5, 415: 5, 419: 5, 420: 5, 426: 5, 427: 5, 432: 5, 436: 5, 437: 5, 440: 5, 449: 5, 453: 5, 454: 5, 458: 5, 462: 5, 464: 5, 465: 5, 473: 5, 474: 5, 476: 5, 479: 5, 482: 5, 484: 5, 485: 5, 488: 5, 490: 5, 495: 5, 498: 5, 502: 5, 504: 5, 506: 5, 508: 5, 515: 5, 517: 5, 523: 5, 527: 5, 532: 5, 534: 5, 539: 5, 540: 5, 544: 5, 550: 5, 554: 5, 559: 5, 560: 5, 562: 5, 563: 5, 566: 5, 567: 5, 569: 5, 576: 5, 588: 5, 598: 5, 599: 5, 602: 5, 604: 5, 608: 5, 609: 5, 612: 5, 613: 5, 614: 5, 615: 5, 618: 5, 619: 5, 623: 5, 628: 5, 630: 5, 633: 5, 634: 5, 639: 5, 643: 5, 645: 5, 647: 5, 649: 5, 651: 5, 655: 5, 659: 5, 660: 5, 666: 5, 667: 5, 671: 5, 672: 5, 674: 5, 676: 5, 683: 5, 686: 5, 690: 5, 691: 5, 698: 5, 702: 5, 704: 5, 705: 5, 706: 5, 708: 5, 710: 5, 711: 5, 713: 5, 718: 5, 720: 5, 722: 5, 723: 5, 729: 5, 733: 5, 737: 5, 739: 5, 742: 5, 743: 5, 748: 5, 757: 5, 758: 5, 763: 5, 765: 5, 777: 5, 778: 5, 779: 5, 782: 5, 787: 5, 789: 5, 792: 5, 794: 5, 798: 5, 805: 5, 806: 5, 807: 5, 813: 5, 815: 5, 817: 5, 824: 5, 827: 5, 829: 5, 830: 5, 832: 5, 833: 5, 839: 5, 842: 5, 843: 5, 847: 5, 850: 5, 852: 5, 858: 5, 860: 5, 865: 5, 866: 5, 867: 5, 870: 5, 879: 5, 884: 5, 885: 5, 886: 5, 887: 5, 888: 5, 889: 5, 893: 5, 894: 5, 895: 5, 903: 5, 909: 5, 912: 5, 916: 5, 919: 5, 920: 5, 924: 5, 928: 5, 929: 5, 934: 5, 935: 5, 937: 5, 939: 5, 950: 5, 951: 5, 953: 5, 958: 5, 960: 5, 961: 5, 970: 5, 972: 5, 981: 5, 982: 5, 983: 5, 984: 5, 988: 5, 997: 5, 998: 5, 999: 5, 1001: 5, 1003: 5, 1004: 5, 1005: 5, 1006: 5, 1007: 5, 1009: 5, 1012: 5, 1015: 5, 1017: 5, 1019: 5, 1022: 5, 1026: 5, 1027: 5, 1029: 5, 1031: 5, 1032: 5, 1035: 5, 1039: 5, 1041: 5, 1043: 5, 1055: 5, 1057: 5, 1060: 5, 1064: 5, 1065: 5, 1066: 5, 1068: 5, 1074: 5, 1075: 5, 1080: 5, 1090: 5, 1092: 5, 1095: 5, 1098: 5, 1099: 5, 1102: 5, 1103: 5, 1106: 5, 1107: 5, 1108: 5, 1110: 5, 1112: 5, 1113: 5, 1115: 5, 1116: 5, 1119: 5, 1125: 5, 1126: 5, 1127: 5, 1129: 5, 1130: 5, 1132: 5, 1136: 5, 1137: 5, 1138: 5, 1146: 5, 1149: 5, 1150: 5, 1155: 5, 1162: 5, 1165: 5, 1169: 5, 1174: 5, 1180: 5, 1185: 5, 1186: 5, 1190: 5, 1197: 5, 1201: 5, 1203: 5, 1207: 5, 1208: 5, 1210: 5, 1212: 5, 1213: 5, 1215: 5, 1216: 5, 1218: 5, 1219: 5, 1221: 5, 1222: 5, 1223: 5, 1225: 5, 1226: 5, 1230: 5, 1231: 5, 1234: 5, 1235: 5, 1236: 5, 1239: 5, 1244: 5, 1249: 5, 1253: 5, 1258: 5, 1260: 5, 1264: 5, 1265: 5, 1266: 5, 1268: 5, 1270: 5, 1271: 5, 1272: 5, 1274: 5, 1275: 5, 1278: 5, 1280: 5, 1283: 5, 1284: 5, 1287: 5, 1288: 5, 1292: 5, 1293: 5, 1300: 5, 1306: 5, 1309: 5, 1310: 5, 1312: 5, 1314: 5, 1319: 5, 1320: 5, 1321: 5, 1328: 5, 1333: 5, 1337: 5, 1339: 5, 1340: 5, 1341: 5, 1342: 5, 1348: 5, 1349: 5, 1350: 5, 1351: 5, 1354: 5, 1360: 5, 1362: 5, 1369: 5, 1372: 5, 1373: 5, 1375: 5, 1381: 5, 1383: 5, 1384: 5, 1385: 5, 1386: 5, 1389: 5, 1392: 5, 1393: 5, 1398: 5, 1402: 5, 1405: 5, 1406: 5, 1407: 5, 1409: 5, 1410: 5, 1413: 5, 1414: 5, 1415: 5, 1417: 5, 1418: 5, 1420: 5, 1429: 5, 1430: 5, 1436: 5, 1438: 5, 1442: 5, 1444: 5, 1446: 5, 1447: 5, 1448: 5, 1450: 5, 1451: 5, 1455: 5, 1457: 5, 1459: 5, 1464: 5, 1472: 5, 1479: 5, 1480: 5, 1481: 5, 1491: 5, 1492: 5, 1496: 5, 1497: 5, 1499: 5, 1500: 5, 1501: 5, 1508: 5, 1509: 5, 1510: 5, 1511: 5, 1515: 5, 1519: 5, 1524: 5, 1525: 5, 1534: 5, 1535: 5, 1538: 5, 1541: 5, 1543: 5, 1546: 5, 1547: 5, 1548: 5, 1551: 5, 1554: 5, 1555: 5, 1556: 5, 1558: 5, 1559: 5, 1560: 5, 1562: 5, 1563: 5, 1564: 5, 1565: 5, 1567: 5, 1570: 5, 1571: 5, 1572: 5, 1577: 5, 1586: 5, 1588: 5, 1589: 5, 1595: 5, 1599: 5, 1601: 5, 1603: 5, 1604: 5, 1605: 5, 1606: 5, 1608: 5, 1611: 5, 1612: 5, 1613: 5, 1616: 5, 1622: 5, 1626: 5, 1628: 5, 1629: 5, 1632: 5, 1634: 5, 1639: 5, 1640: 5, 1642: 5, 1644: 5, 1645: 5, 1650: 5, 1651: 5, 1652: 5, 1658: 5, 1661: 5, 1663: 5, 1665: 5, 1671: 5, 1672: 5, 1673: 5, 1674: 5, 1677: 5, 1678: 5, 1680: 5, 1685: 5, 1691: 5, 1699: 5, 1700: 5, 1705: 5, 1711: 5, 1713: 5, 1718: 5, 1724: 5, 1725: 5, 1726: 5, 1728: 5, 1729: 5, 1737: 5, 1739: 5, 1740: 5, 1741: 5, 1744: 5, 1749: 5, 1752: 5, 1753: 5, 1762: 5, 1763: 5, 1765: 5, 1772: 5, 1774: 5, 1777: 5, 1780: 5, 1781: 5, 1793: 5, 1794: 5, 1798: 5, 1799: 5, 1804: 5, 1806: 5, 1808: 5, 1810: 5, 1811: 5, 1812: 5, 1813: 5, 1816: 5, 1817: 5, 1821: 5, 1822: 5, 1831: 5, 1835: 5, 1837: 5, 1838: 5, 1839: 5, 1846: 5, 1848: 5, 1849: 5, 1850: 5, 1853: 5, 1855: 5, 1856: 5, 1861: 5, 1865: 5, 1866: 5, 1875: 5, 1876: 5, 1878: 5, 1879: 5, 1882: 5, 1883: 5, 1886: 5, 1887: 5, 1888: 5, 1891: 5, 1893: 5, 1896: 5, 1898: 5, 1903: 5, 1904: 5, 1907: 5, 1911: 5, 1920: 5, 1924: 5, 1932: 5, 1934: 5, 1935: 5, 1941: 5, 1943: 5, 1947: 5, 1948: 5, 1953: 5, 1958: 5, 1963: 5, 1965: 5, 1970: 5, 1971: 5, 1973: 5, 1975: 5, 1976: 5, 1980: 5, 1981: 5, 1982: 5, 1985: 5, 1986: 5, 1989: 5, 1995: 5, 2001: 5, 2004: 5, 2005: 5, 2006: 5, 2008: 5, 2014: 5, 2015: 5, 2019: 5, 2023: 5, 2024: 5, 2025: 5, 2026: 5, 2029: 5, 2030: 5, 2031: 5, 2032: 5, 2035: 5, 2037: 5, 2046: 5, 2054: 5, 2058: 5, 2059: 5, 2060: 5, 2072: 5, 2073: 5, 2075: 5, 2077: 5, 2080: 5, 2081: 5, 2083: 5, 2085: 5, 2087: 5, 2089: 5, 2090: 5, 2091: 5, 2093: 5, 2095: 5, 2097: 5, 2099: 5, 2100: 5, 2102: 5, 2110: 5, 2115: 5, 2117: 5, 2118: 5, 2119: 5, 2125: 5, 2126: 5, 2129: 5, 2130: 5, 2132: 5, 2138: 5, 2140: 5, 2142: 5, 2143: 5, 2145: 5, 2147: 5, 2151: 5, 2153: 5, 2168: 5, 2170: 5, 2177: 5, 2178: 5, 2180: 5, 2183: 5, 2185: 5, 2186: 5, 2188: 5, 2194: 5, 2197: 5, 2199: 5, 2204: 5, 2206: 5, 2210: 5, 2212: 5, 2213: 5, 2218: 5, 2219: 5, 2222: 5, 2229: 5, 2233: 5, 2237: 5, 2238: 5, 2240: 5, 2242: 5, 2251: 5, 2254: 5, 2256: 5, 2259: 5, 2261: 5, 2263: 5, 2264: 5, 2266: 5, 2267: 5, 2272: 5, 2274: 5, 2275: 5, 2276: 5, 2280: 5, 2283: 5, 2288: 5, 2289: 5, 2292: 5, 2295: 5, 2300: 5, 2304: 5, 2305: 5, 2308: 5, 2314: 5, 2316: 5, 2318: 5, 2322: 5, 2324: 5, 2326: 5, 2330: 5, 2331: 5, 2334: 5, 2337: 5, 2342: 5, 2344: 5, 2345: 5, 2346: 5, 2349: 5, 2350: 5, 2352: 5, 2356: 5, 2357: 5, 2361: 5, 2368: 5, 2370: 5, 2373: 5, 2374: 5, 2376: 5, 2377: 5, 2381: 5, 2382: 5, 2384: 5, 2388: 5, 2391: 5, 2392: 5, 2396: 5, 2403: 5, 2409: 5, 2412: 5, 2419: 5, 2420: 5, 2425: 5, 2427: 5, 2434: 5, 2435: 5, 2442: 5, 2444: 5, 2445: 5, 2449: 5, 2451: 5, 2452: 5, 2455: 5, 2462: 5, 2465: 5, 2468: 5, 2470: 5, 2476: 5, 2478: 5, 2482: 5, 2484: 5, 2488: 5, 2492: 5, 2498: 5, 2499: 5, 2506: 5, 2507: 5, 2509: 5, 2511: 5, 2513: 5, 2515: 5, 2519: 5, 2523: 5, 2526: 5, 2527: 5, 2530: 5, 2532: 5, 2535: 5, 2538: 5, 2542: 5, 2544: 5, 2546: 5, 2547: 5, 2551: 5, 2552: 5, 2557: 5, 2560: 5, 2564: 5, 2566: 5, 2569: 5, 2570: 5, 2571: 5, 2575: 5, 2577: 5, 2579: 5, 2580: 5, 2583: 5, 2585: 5, 2588: 5, 2589: 5, 2591: 5, 2596: 5, 2597: 5, 2600: 5, 2607: 5, 2608: 5, 2609: 5, 2614: 5, 2615: 5, 2617: 5, 2623: 5, 2624: 5, 2626: 5, 2628: 5, 2630: 5, 2631: 5, 2637: 5, 2640: 5, 2641: 5, 2642: 5, 2644: 5, 2646: 5, 2647: 5, 2648: 5, 2650: 5, 2655: 5, 2660: 5, 2666: 5, 2668: 5, 2670: 5, 2673: 5, 2677: 5, 2688: 5, 2689: 5, 2691: 5, 2696: 5, 2697: 5, 2699: 5, 2700: 5, 2712: 5, 2714: 5, 2719: 5, 2721: 5, 2724: 5, 2725: 5, 2727: 5, 2730: 5, 2732: 5, 2733: 5, 2734: 5, 2741: 5, 2744: 5, 2745: 5, 2746: 5, 2747: 5, 2754: 5, 2755: 5, 2759: 5, 2760: 5, 2761: 5, 2766: 5, 2774: 5, 2775: 5, 2776: 5, 2777: 5, 2780: 5, 2781: 5, 2785: 5, 2786: 5, 2787: 5, 2788: 5, 2790: 5, 2791: 5, 2798: 5, 2801: 5, 2807: 5, 2808: 5, 2812: 5, 2814: 5, 2815: 5, 2818: 5, 2823: 5, 2826: 5, 2827: 5, 2828: 5, 2829: 5, 2830: 5, 2835: 5, 2840: 5, 2841: 5, 2843: 5, 2844: 5, 2846: 5, 2848: 5, 2850: 5, 2855: 5, 2857: 5, 2858: 5, 2865: 5, 2870: 5, 2874: 5, 2875: 5, 2876: 5, 2878: 5, 2880: 5, 2884: 5, 2885: 5, 2888: 5, 2889: 5, 2891: 5, 2892: 5, 2893: 5, 2894: 5, 2899: 5, 2901: 5, 2909: 5, 2912: 5, 2913: 5, 2923: 5, 2926: 5, 2928: 5, 2929: 5, 2930: 5, 2933: 5, 2936: 5, 2941: 5, 2943: 5, 2951: 5, 2953: 5, 2954: 5, 2955: 5, 2957: 5, 2959: 5, 2960: 5, 2964: 5, 2965: 5, 2967: 5, 2970: 5, 2971: 5, 2976: 5, 2977: 5, 2980: 5, 2982: 5, 2983: 5, 2987: 5, 2988: 5, 2994: 5, 2995: 5, 3003: 5, 3010: 5, 3013: 5, 3016: 5, 3022: 5, 3024: 5, 3028: 5, 3030: 5, 3032: 5, 3037: 5, 3038: 5, 3039: 5, 3041: 5, 3042: 5, 3044: 5, 3046: 5, 3047: 5, 3050: 5, 3053: 5, 3056: 5, 3061: 5, 3069: 5, 3071: 5, 3073: 5, 3078: 5, 3079: 5, 3080: 5, 3081: 5, 3084: 5, 3085: 5, 3089: 5, 3095: 5, 3102: 5, 3103: 5, 3105: 5, 3107: 5, 3108: 5, 3110: 5, 3113: 5, 3115: 5, 3118: 5, 3124: 5, 3131: 5, 3137: 5, 3141: 5, 3147: 5, 3148: 5, 3151: 5, 3154: 5, 3157: 5, 3160: 5, 3161: 5, 3163: 5, 3165: 5, 3171: 5, 3173: 5, 3182: 5, 3184: 5, 3188: 5, 3189: 5, 3192: 5, 3195: 5, 3198: 5, 3202: 5, 3207: 5, 3211: 5, 3213: 5, 3214: 5, 3216: 5, 3218: 5, 3221: 5, 3222: 5, 3223: 5, 3224: 5, 3225: 5, 3228: 5, 3229: 5, 3240: 5, 3244: 5, 3245: 5, 3246: 5, 3258: 5, 3259: 5, 3262: 5, 3263: 5, 3264: 5, 3269: 5, 3270: 5, 3272: 5, 3274: 5, 3275: 5, 3278: 5, 3279: 5, 3280: 5, 3281: 5, 3283: 5, 3285: 5, 3286: 5, 3289: 5, 3291: 5, 3293: 5, 3294: 5, 3295: 5, 3302: 5, 3303: 5, 3308: 5, 3309: 5, 3313: 5, 3314: 5, 3316: 5, 3322: 5, 3324: 5, 3325: 5, 3327: 5, 3330: 5, 3333: 5, 3335: 5, 3336: 5, 3337: 5, 3341: 5, 3342: 5, 3344: 5, 3346: 5, 3348: 5, 3349: 5, 3355: 5, 3360: 5, 3365: 5, 3367: 5, 3371: 5, 3373: 5, 3377: 5, 3378: 5, 3381: 5, 3384: 5, 3385: 5, 3387: 5, 3388: 5, 3389: 5, 3390: 5, 3394: 5, 3397: 5, 3399: 5, 3400: 5, 3405: 5, 3408: 5, 3409: 5, 3410: 5, 3411: 5, 3413: 5, 3414: 5, 3415: 5, 3417: 5, 3418: 5, 3420: 5, 3426: 5, 3438: 5, 3439: 5, 3445: 5, 3448: 5, 3449: 5, 3452: 5, 3454: 5, 3463: 5, 3464: 5, 3470: 5, 3477: 5, 3480: 5, 3481: 5, 3483: 5, 3492: 5, 3494: 5, 3495: 5, 3496: 5, 3497: 5, 3498: 5, 3499: 5, 3502: 5, 3503: 5, 3504: 5, 3508: 5, 3509: 5, 3514: 5, 3515: 5, 3519: 5, 3520: 5, 3521: 5, 3523: 5, 3524: 5, 3525: 5, 3532: 5, 3533: 5, 3538: 5, 3542: 5, 3544: 5, 3547: 5, 3548: 5, 3554: 5, 3555: 5, 3557: 5, 3559: 5, 3564: 5, 3565: 5, 3570: 5, 3574: 5, 3580: 5, 3584: 5, 3585: 5, 3587: 5, 3589: 5, 3592: 5, 3594: 5, 3596: 5, 3597: 5, 3603: 5, 3607: 5, 3609: 5, 3613: 5, 3614: 5, 3617: 5, 3619: 5, 3620: 5, 3621: 5, 3622: 5, 3626: 5, 3637: 5, 3638: 5, 3641: 5, 3644: 5, 3647: 5, 3649: 5, 3650: 5, 3651: 5, 3652: 5, 3653: 5, 3657: 5, 3659: 5, 3666: 5, 3667: 5, 3669: 5, 3672: 5, 3678: 5, 3679: 5, 3680: 5, 3681: 5, 3682: 5, 3686: 5, 3690: 5, 3692: 5, 3694: 5, 3705: 5, 3706: 5, 3708: 5, 3711: 5, 3713: 5, 3714: 5, 3715: 5, 3716: 5, 3718: 5, 3720: 5, 3722: 5, 3725: 5, 3726: 5, 3729: 5, 3730: 5, 3731: 5, 3735: 5, 3736: 5, 3737: 5, 3741: 5, 3743: 5, 3748: 5, 3751: 5, 3755: 5, 3756: 5, 3758: 5, 3759: 5, 3767: 5, 3768: 5, 3771: 5, 3772: 5, 3773: 5, 3776: 5, 3777: 5, 3779: 5, 3780: 5, 3790: 5, 3793: 5, 3798: 5, 3801: 5, 3807: 5, 3811: 5, 3813: 5, 3817: 5, 3818: 5, 3820: 5, 3821: 5, 3826: 5, 3828: 5, 3829: 5, 3832: 5, 3836: 5, 3838: 5, 3843: 5, 3850: 5, 3851: 5, 3852: 5, 3853: 5, 3854: 5, 3858: 5, 3859: 5, 3861: 5, 3862: 5, 3864: 5, 3867: 5, 3869: 5, 3873: 5, 3874: 5, 3875: 5, 3876: 5, 3878: 5, 3882: 5, 3888: 5, 3889: 5, 3890: 5, 3891: 5, 3892: 5, 3895: 5, 3896: 5, 3898: 5, 3900: 5, 3904: 5, 3906: 5, 3910: 5, 3911: 5, 3914: 5, 3921: 5, 3923: 5, 3925: 5, 3926: 5, 3928: 5, 3932: 5, 3935: 5, 3937: 5, 3938: 5, 3946: 5, 3948: 5, 3950: 5, 3952: 5, 3953: 5, 3960: 5, 3961: 5, 3967: 5, 3968: 5, 3969: 5, 3970: 5, 3971: 5, 3974: 5, 3977: 5, 3978: 5, 3979: 5, 3980: 5, 3986: 5, 3990: 5, 3991: 5, 3995: 5, 3996: 5, 3999: 5, 4000: 5, 4001: 5, 4006: 5, 4007: 5, 4008: 5, 4011: 5, 4013: 5, 4015: 5, 4018: 5, 4021: 5, 4031: 5, 4034: 5, 4036: 5, 4039: 5, 4043: 5, 4044: 5, 4051: 5, 4052: 5, 4056: 5, 4057: 5, 4061: 5, 4069: 5, 4072: 5, 4074: 5, 4078: 5, 4079: 5, 4082: 5, 4083: 5, 4084: 5, 4085: 5, 4086: 5, 4095: 5, 4103: 5, 4105: 5, 4106: 5, 4108: 5, 4109: 5, 4112: 5, 4114: 5, 4115: 5, 4116: 5, 4119: 5, 4121: 5, 4122: 5, 4123: 5, 4124: 5, 4125: 5, 4127: 5, 4128: 5, 4129: 5, 4130: 5, 4131: 5, 4136: 5, 4138: 5, 4143: 5, 4145: 5, 4147: 5, 4149: 5, 4150: 5, 4151: 5, 4152: 5, 4154: 5, 4157: 5, 4158: 5, 4159: 5, 4161: 5, 4162: 5, 4163: 5, 4169: 5, 4174: 5, 4175: 5, 4179: 5, 4180: 5, 4182: 5, 4183: 5, 4189: 5, 4195: 5, 4197: 5, 4198: 5, 4200: 5, 4202: 5, 4206: 5, 4211: 5, 4212: 5, 4223: 5, 4228: 5, 4229: 5, 4230: 5, 4234: 5, 4238: 5, 4240: 5, 4241: 5, 4247: 5, 4248: 5, 4250: 5, 4254: 5, 4257: 5, 4261: 5, 4269: 5, 4270: 5, 4275: 5, 4280: 5, 4284: 5, 4293: 5, 4296: 5, 4298: 5, 4299: 5, 4301: 5, 4305: 5, 4312: 5, 4315: 5, 4316: 5, 4319: 5, 4321: 5, 4323: 5, 4334: 5, 4335: 5, 4336: 5, 4338: 5, 4350: 5, 4353: 5, 4355: 5, 4357: 5, 4360: 5, 4365: 5, 4369: 5, 4374: 5, 4375: 5, 4376: 5, 4377: 5, 4380: 5, 4382: 5, 4385: 5, 4387: 5, 4389: 5, 4391: 5, 4392: 5, 4393: 5, 4394: 5, 4396: 5, 4398: 5, 4399: 5, 4400: 5, 4401: 5, 4405: 5, 4408: 5, 4410: 5, 4411: 5, 4416: 5, 4417: 5, 4421: 5, 4423: 5, 4426: 5, 4428: 5, 4429: 5, 4433: 5, 4434: 5, 4436: 5, 4440: 5, 4443: 5, 4447: 5, 4452: 5, 4453: 5, 4456: 5, 4457: 5, 4458: 5, 4460: 5, 4461: 5, 4462: 5, 4464: 5, 4466: 5, 4467: 5, 4468: 5, 4469: 5, 4470: 5, 4478: 5, 4479: 5, 4480: 5, 4482: 5, 4483: 5, 4490: 5, 4494: 5, 4501: 5, 4502: 5, 4504: 5, 4506: 5, 4507: 5, 4512: 5, 4515: 5, 4517: 5, 4520: 5, 4521: 5, 4524: 5, 4525: 5, 4527: 5, 4528: 5, 4532: 5, 4536: 5, 4537: 5, 4546: 5, 4554: 5, 4556: 5, 4558: 5, 4560: 5, 4561: 5, 4563: 5, 4565: 5, 4574: 5, 4575: 5, 4576: 5, 4583: 5, 4585: 5, 4589: 5, 4590: 5, 4593: 5, 4602: 5, 4604: 5, 4605: 5, 4606: 5, 4607: 5, 4611: 5, 4612: 5, 4614: 5, 4623: 5, 4624: 5, 4630: 5, 4631: 5, 4632: 5, 4638: 5, 4640: 5, 4644: 5, 4648: 5, 4649: 5, 4651: 5, 4655: 5, 4666: 5, 4668: 5, 4677: 5, 4685: 5, 4686: 5, 4

# Problem 6
Scraping COVID data from online source

In [20]:
!pip install requests
!pip install beautifulsoup4

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests) (2022.9.24)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests) (1.24.3)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (4.6.3)

In [21]:
import requests
# to suppress future warnings
import warnings
import pandas as pd
import dask.dataframe as dd
from bs4 import BeautifulSoup

warnings.simplefilter(action='ignore', category=FutureWarning)

page = requests.get("https://www.worldometers.info/coronavirus/#countries")
soup = BeautifulSoup(page.content, 'lxml')

print(soup.prettify())

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
 <!--<![endif]-->
 <head>
  <meta charset="utf-8"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <title>
   COVID Live - Coronavirus Statistics - Worldometer
  </title>
  <meta content="Live statistics and coronavirus news tracking the number of confirmed cases, recovered patients, tests, and death toll due to the COVID-19 coronavirus from Wuhan, China. Coronavirus counter with new cases, deaths, and number of tests per 1 Million population. Historical data and info. Daily charts, graphs, news and updates" name="description"/>
  <link href="/favicon/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
  <link href="/favicon/apple-icon-57x57.png" rel="apple-touch-icon" sizes="57x57"/>
  <link href="/favicon/apple-icon-60x60.png" rel="apple-touch-icon" sizes="60x60"/>
  <link href="/favicon/apple-icon-72x72.png" rel="apple-touch-icon" sizes="72x72"/>
  <link href="/favicon/apple-icon-76x76.png" rel="apple-touch-icon" sizes="76x76"/>
  <link href="/favicon/apple-icon-114x114.png" rel="apple-touch-icon" sizes="114x114"/>
  <link href="/favicon/apple-icon-120x120.png" rel="apple-touch-icon" sizes="120x120"/>
  <link href="/favicon/apple-icon-144x144.png" rel="apple-touch-icon" sizes="144x144"/>
  <link href="/favicon/apple-icon-152x152.png" rel="apple-touch-icon" sizes="152x152"/>
  <link href="/favicon/apple-icon-180x180.png" rel="apple-touch-icon" sizes="180x180"/>
  <link href="/favicon/android-icon-192x192.png" rel="icon" sizes="192x192" type="image/png"/>
  <link href="/favicon/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png"/>
  <link href="/favicon/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png"/>
  <link href="/favicon/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png"/>
  <link href="/favicon/manifest.json" rel="manifest"/>
  <meta content="#ffffff" name="msapplication-TileColor"/>
  <meta content="/favicon/ms-icon-144x144.png" name="msapplication-TileImage"/>
  <meta content="#ffffff" name="theme-color"/>
  <meta content="http://www.worldometers.info/img/worldometers-fb.jpg" property="og:image"/>
  <link href="/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="/wm16.css" rel="stylesheet"/>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  <script src="/js/jquery.min.js">
  </script>
  <script src="/js/bootstrap.min.js">
  </script>
  <script src="/js/ie10-viewport-bug-workaround.js">
  </script>
  <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="text/javascript">
  </script>
  <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js" type="text/javascript">
  </script>
  <script class="init" type="text/javascript">
   $.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#example2').dataTable( {
        "scrollCollapse": true,
		"sDom": '<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
  </script>
  <script class="init" type="text/javascript">
   $.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#table3').dataTable( {
        "scrollCollapse": true,
				 "order": [[ 1, 'desc' ]],
		"sDom": '<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
  </script>
  <script class="init" type="text/javascript">
   $.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#example').dataTable( {
        "scrollCollapse": true,
		"searching": false,

		"sDom": '<"top">rt<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
  </script>
  <script class="init" type="text/javascript">
   $(document).ready(function() {
	$('#popbycountry').dataTable();
} );
  </script>
  <script data-cfasync="false" type="text/javascript">
   var freestar = freestar || {};
  freestar.hitTime = Date.now();
  freestar.queue = freestar.queue || [];
  freestar.config = freestar.config || {};
  freestar.debug = window.location.search.indexOf('fsdebug') === -1 ? false : true;
  freestar.config.enabled_slots = [];
  !function(a,b){var c=b.getElementsByTagName("script")[0],d=b.createElement("script"),e="https://a.pub.network/worldometers-info";e+=freestar.debug?"/qa/pubfig.min.js":"/pubfig.min.js",d.async=!0,d.src=e,c.parentNode.insertBefore(d,c)}(window,document);
  </script>
 </head>
 <body>
  <script>
   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-1438574-2', 'auto');
  ga('send', 'pageview');
  </script>
  <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-1438574-30">
  </script>
  <script>
   window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-1438574-30');
  </script>
  <link href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" rel="stylesheet" type="text/css"/>
  <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js">
  </script>
  <script>
   window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#efefef",
      "text": "#404040"
    },
    "button": {
      "background": "#8ec760",
      "text": "#ffffff"
    }
  },
  "theme": "classic",
  "content": {
    "href": "http://www.worldometers.info/policy/"
  }
})});
  </script>
  <style type="text/css">
   .style1 {
        color: #666666
    }
  </style>
  <div class="navbar navbar-default">
   <div class="container">
    <div class="navbar-header">
     <div class="logo">
      <a class="navbar-brand" href="/">
       <img border="0" src="/img/worldometers-logo.gif" title="Worldometer"/>
      </a>
     </div>
     <button class="navbar-toggle" data-target="#navbar-main" data-toggle="collapse" type="button">
      <span class="icon-bar">
      </span>
      <span class="icon-bar">
      </span>
      <span class="icon-bar">
      </span>
     </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
     <ul class="nav navbar-nav">
      <li>
       <a href="/coronavirus/">
        <span style="color:#FF9900; font-weight:bold">
         Coronavirus
        </span>
       </a>
      </li>
      <li>
       <a href="/population/">
        Population
       </a>
      </li>
     </ul>
    </div>
   </div>
  </div>
  <div class="container">
   <div class="row">
    <div style="text-align:left; margin-bottom:10px">
     <script async="" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
     </script>
     <ins class="adsbygoogle" data-ad-client="ca-pub-3701697624350410" data-ad-slot="3287840995" style="display:inline-block;width:970px;height:90px">
     </ins>
     <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
     </script>
    </div>
   </div>
   <div class="row">
    <div class="col-md-8">
     <div class="content-inner">
      <style>
       .number-table {
        font-size: 20px;
        font-weight: bold
    }

    .number-table-main {
        font-size: 24px;
        font-weight: bold
    }
      </style>
      <script src="/js/highcharts.js">
      </script>
      <style type="text/css">
       .source {}

    .style2 {
        color: #FF0000
    }

    .style4 {
        color: #FF0000;
        font-weight: bold;
    }

    .style6 {
        font-size: 12px;
        color: #bbb;
        font-weight: bold;
    }

    .source1 {
        font-size: 12px;
        color: #bbb;
    }

    .source1 {
        font-size: 12px;
        color: #bbb;
    }

    .source11 {
        font-size: 12px;
        color: #bbb;
    }

    .source111 {}

    .source1111 {
        font-size: 12px;
        color: #bbb;
    }


    .new_badge {

        position: absolute;
        font-size: 12px;
        top: -5px;
        right: -26px;
        background-color: #8ACA2B;
        color: white;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 2px;
        padding-bottom: 2px;
        border-radius: 4px;
        ;
    }

    .new_badge_link {

        background-color: #8ACA2B;
        color: white !important;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 2px;
        padding-bottom: 2px;
        border-radius: 4px;
        ;
    }
      </style>
      <div class="label-counter" id="page-top">
       COVID-19 Coronavirus Pandemic
      </div>
      <div style="font-size:13px; color:#999; margin-top:5px; text-align:center">
       Last updated: October 31, 2022, 20:05 GMT
      </div>
      <div style="margin-top:20px; text-align:center; font-size:14px">
       <a class="new_badge_link" href="/coronavirus/weekly-trends/" style="display: inline-block; position:relative;">
        Weekly Trends
       </a>
       -
       <a href="/coronavirus/worldwide-graphs/">
        Graphs
       </a>
       -
       <a href="#countries">
        Countries
       </a>
       -
       <a href="#news">
        News
       </a>
      </div>
      <div id="maincounter-wrap" style="margin-top:15px">
       <h1>
        Coronavirus Cases:
       </h1>
       <div class="maincounter-number">
        <span style="color:#aaa">
         635,548,773
        </span>
       </div>
      </div>
      <div style="text-align:center ">
       <a href="#countries">
        view by country
       </a>
      </div>
      <div id="maincounter-wrap" style="margin-top:15px">
       <h1>
        Deaths:
       </h1>
       <div class="maincounter-number">
        <span>
         6,594,100
        </span>
       </div>
      </div>
      <div id="maincounter-wrap" style="margin-top:15px;">
       <h1>
        Recovered:
       </h1>
       <div class="maincounter-number" style="color:#8ACA2B ">
        <span>
         614,763,226
        </span>
       </div>
      </div>
      <div style="margin-top:50px;">
      </div>
      <style>
       .panel_flip {
        position: relative;
        height: 100%;
    }

    .panel_front {

        height: inherit;
        position: absolute;
        top: 0;
        -webkit-transform: rotateX(0deg) rotateY(0deg);
        -moz-transform: rotateX(0deg) rotateY(0deg);
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .panel_back {

        height: inherit;
        position: absolute;
        top: 0;
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .panel_flip.flip .panel_front {

        z-index: 900;
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
    }

    .panel_flip.flip .panel_back {

        z-index: 1000;
        -webkit-transform: rotateX(0deg) rotateY(0deg);
        -moz-transform: rotateX(0deg) rotateY(0deg);
    }

    .collapse_button {

        position: absolute;
        right: 10px;
        pointer-events: none;
        color: #70757a !important;
        height: 24px;
        width: 24px;
        line-height: 24px;
    }

    .collapse_button svg {
        display: block;
        height: 100%;
        width: 100%;
        fill: currentColor;
    }

    .rotate_180 {

        transform: rotate(180deg);
    }

    .panel_clickable {

        cursor: pointer;
    }
      </style>
      <script>
       var do_not_slide = false;
    $(function() {

        $('.flip_cases_front').on('click', function() {


            $(this).parent().parent().addClass('flip');
        });

        $('.flip_cases_back').on('click', function() {


            $(this).parent().parent().removeClass('flip');
        });


        $('.collapse').on('show.bs.collapse', function(el) {


            var collapse_button = $(el.target).parent().find('.collapse_button');
            collapse_button.addClass('rotate_180');

            if (do_not_slide) {

                return;
            }

            do_not_slide = true;
            if ($(el.target).attr('id') == 'panel_active') {

                $('#panel_closed').collapse('show');
            } else {

                $('#panel_active').collapse('show');
            }

            do_not_slide = false;
        });

        $('.collapse').on('hide.bs.collapse', function(el) {

            var collapse_button = $(el.target).parent().find('.collapse_button');
            collapse_button.removeClass('rotate_180');


            if (do_not_slide) {

                return;
            }


            do_not_slide = true;
            if ($(el.target).attr('id') == 'panel_active') {

                $('#panel_closed').collapse('hide');
            } else {

                $('#panel_active').collapse('hide');
            }

            do_not_slide = false;

        });



    });
      </script>
      <div class="col-md-6">
       <div class="panel panel-default">
        <div aria-controls="panel_active" aria-expanded="false" class="panel_clickable panel-heading" data-toggle="collapse" href="#panel_active" style="text-align:center;position:relative;">
         <span class="panel-title" style="font-size:18px; text-transform:uppercase; font-weight:100">
          Active Cases
         </span>
         <span class="collapse_button">
          <svg focusable="false" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
           <path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z">
           </path>
          </svg>
         </span>
        </div>
        <div class="collapse" id="panel_active">
         <div class="panel-body" style="text-align:center;min-height:220px;">
          <div class="panel_flip">
           <div class="panel_front" style="width:100%;height:100%;">
            <div class="number-table-main">
             14,191,447
            </div>
            <div style="font-size:13.5px">
             Currently Infected Patients
            </div>
            <div style="padding-top:20px;position:relative;text-align:center; ">
             <div style="float:left; text-align:center">
              <span class="number-table" style="color:#8080FF">
               14,155,286
              </span>
              (
              <strong>
               99.7
              </strong>
              %)
              <div style="font-size:13px">
               in Mild Condition
              </div>
              <br/>
             </div>
             <div style="float:right; text-align:center">
              <span class="number-table" style="color:red ">
               36,161
              </span>
              (
              <strong>
               0.3
              </strong>
              %)
              <div style="font-size:13px">
               Serious or Critical
              </div>
              <br/>
             </div>
            </div>
            <a class="flip_cases_front" href="javascript: void(0);" style="clear: both;display: block;padding-top:20px;width:100%;">
             Show Graph
            </a>
           </div>
           <div class="panel_back" style="width:100%;height:100%;">
            <div id="total-currently-infected-linear">
            </div>
            <script type="text/javascript">
             Highcharts.setOptions({
        lang: {
            thousandsSep: ','
        }
    });

    var y_labels = ['0', '20,000', '40,000', '60,000', '140', '180', '200', '240'];
    Highcharts.chart('total-currently-infected-linear', {


        chart: {
            type: 'line',
            height: (9 / 16 * 100) + '%'
        },

        title: {
            text: null

        },

        /*subtitle: {
            text: '(Number of Infected People)'
        },*/

        xAxis: {

In [73]:
# Search for the table and extracting it
table = soup.find('table', attrs={'id': 'main_table_countries_today'})

rows = table.find_all("tr", attrs={"style": ""})
data = []
for i,item in enumerate(rows):
    
    if i == 0:
        
        data.append(item.text.strip().split("\n")[:15])
        
    else:
        data.append(item.text.strip().split("\n")[:15])

dt = pd.DataFrame(data)
dt = pd.DataFrame(data[1:], columns=data[0][:15]) #Formatting the header
df = dd.from_pandas(dt,npartitions=1)

In [74]:
dt.head()

,#,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/,1M pop
0,World,"635,548,773","+98,233","6,594,100",+386,"614,763,226","+226,191","14,191,447","36,161","81,535",846.0,,,,All
1,1,USA,"99,345,927",,"1,095,204",,"96,897,652",,"1,353,071","2,609","296,727","3,271","1,128,139,676","3,369,540","334,805,269"
2,2,India,"44,653,592",,"529,024",,"44,106,656",,"17,912",698,"31,745",376,"900,882,915","640,454","1,406,631,776"
3,3,France,"36,809,617",,"156,832",,"35,718,794",,"933,991",869,"561,255","2,391","271,490,188","4,139,547","65,584,518"
4,4,Germany,"35,571,130",,"153,544",,"33,876,300","+54,900","1,541,286","1,406","424,053","1,830","122,332,384","1,458,359","83,883,596"

In [78]:
active_cases = dt['ActiveCases']
populations  = dt['1M pop']

# Remove N/A values
index_na = active_cases[dt['ActiveCases'] == 'N/A'].index
index_all = populations[dt['1M pop'] == 'All'].index

active_cases = active_cases.drop(index_na)
populations  = populations.drop(index_na)

active_cases = active_cases.drop(index_all)
populations  = populations.drop(index_all)

Cleaning process requires both N/A removal and parsing string integers (with commas) to ints. Average active cases below.

In [79]:
# Compute statistics
active_cases = active_cases[:].str.split(',').str.join('').astype(int)
populations  = populations[:].str.split(',').str.join('').astype(int)

print(active_cases.mean())

62625.946601941745

Proportion currently infected

In [80]:
print(active_cases / populations)

1      0.004041
2      0.000013
3      0.014241
4      0.018374
5      0.000648
         ...
218    0.003827
219    0.028774
220    0.001233
221    0.001906
222    0.000003
Length: 206, dtype: float64